@using ShoppingCart.Infrastructure.Components;
@model IEnumerable<Producto>

@{
    ViewData["Title"] = "Productos";
}

<!-- Muestra una lista de los productos según la categoria. También muestra los botones para cambiar de página. -->
<h1>Productos</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <img src="/media/productos/@item.Imagen" style="width: 280px; height: 280px;" class="img-fluid" alt="" />
            <h4>@item.Nombre</h4>
            <div>
                @Html.Raw(item.Descripcion)
            </div>
            <p>
                @item.Precio.ToString("C2")
            </p>
            <p>
                <a class="btn btn-primary" asp-controller="CarroCompra" asp-action="Añadir" asp-route-id="@item.Id">Añadir al carrito</a>
            </p>
        </div>
    }
    <div class="col-3" style="position:absolute; right:20px">
        @await Component.InvokeAsync(typeof(CategoriasViewComponent))

        <div class="bg-success mt-3 p-3 text-white">
            @await Component.InvokeAsync(typeof(CarritoViewComponent))
        </div>
    </div>

    @if (ViewBag.TotalPages > 1)
    {
        <div class="d-flex w-100 justify-content-center">
            <pagination page-count="@ViewBag.TotalPages"
                    page-target="/productos/@ViewBag.CategoriaSlug"
                    page-number="@ViewBag.PageNumber"
                    page-range="@ViewBag.PageRange">
            </pagination>
        </div>
    }

</div>