@model IEnumerable<Producto>

@{
    ViewData["Title"] = "Productos";
}

<h1>Productos</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <img src="/media/productos/@item.Imagen" class="img-fluid" alt="" />
            <h4>@item.Nombre</h4>
            <div>
                @Html.Raw(item.Descripcion)
            </div>
            <p>
                @item.Precio.ToString("C2")
            </p>
            <p>
                <a class="btn btn-primary" href="#">Add to cart</a>
            </p>
        </div>
    }

    @if (ViewBag.TotalPages > 1)
    {
        <div class="d-flex w-100 justify-content-center">
            <pagination page-count="@ViewBag.TotalPages"
                    page-target="/products/@ViewBag.CategoriaSlug"
                    page-number="@ViewBag.PageNumber"
                    page-range="@ViewBag.PageRange">
            </pagination>
        </div>
    }

</div>