@model IEnumerable<Producto>

@{
    ViewData["Title"] = "Productos";
}

<!-- Vista de la sección de productos en Admin -->
<h1>Productos</h1>

<p>
    <a asp-action="Crear">Crear Nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Imagen</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.Precio.ToString("C2")
                </td>
                <td>
                    @item.Categoria.Nombre
                </td>
                <td>
                    <img src="/media/productos/@item.Imagen" width="100" alt="" />
                </td>
                <!-- Funciones que permiten al Admin editar o eliminar los productos de la base de datos-->
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Eliminar" asp-route-id="@item.Id" class="confirmDeletion">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Paginación -->
<div class="d-flex w-100 justify-content-center">
    <pagination page-count="@ViewBag.TotalPages"
                page-target="/admin/productos/@ViewBag.CategorySlug"
                page-number="@ViewBag.PageNumber"
                page-range="@ViewBag.PageRange">
    </pagination>
</div>